[submodule ".shell_config"]
    path = .shell_config
    url = http://github.com/Juanito87/.shell_config.git
[submodule ".tmux"]
    path = .tmux
    url = http://github.com/Juanito87/.tmux.git
[submodule ".fzf"]
    path = .fzf
    url = https://github.com/junegunn/fzf.git
[submodule ".ssh"]
    path = .ssh
    url = http://github.com/Juanito87/.ssh.git
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:Juanito87/kickstart.nvim.git
