[user]
    email = juancruz.f87@gmail.com
    name = juanito87
[core]
    excludesfile = /home/ubuntu/.gitignore
[difftool]
    prompt = false
[alias]
    ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=relative
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [a:%an,c:%cn]" --decorate --numstat
    fl = log -u
